import twitter

# consumer_* is for your app, whereas access_token_* is for your user

api = twitter.Api(consumer_key="CONSUMER_KEY",
                consumer_secret="CONSUMER_SECRET",
                access_token_key="ACCESS_TOKEN_KEY",
                access_token_secret="ACCESS_TOKEN_SECRET")
